<%= content_for :header do %>
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <%= @estructura.class.model_name.human %>
      <small>KM <%= number_with_precision @estructura.km %></small>
    </h1>
    <ol class="breadcrumb">
      <li><%= link_to fa_icon(:wrench, text: Estructura.model_name.human), admin_estructuras_path %></li>
      <li class="active"><%= t(action_name, scope: :actions) %></li>
    </ol>
  </section>
<% end %>

<div class="nav-tabs-custom">

  <ul class="nav nav-tabs">
    <li><%= link_to 'Información general', '#info', data: { toggle: :tab } %></li>
    <% for relevamiento in @estructura.relevamientos %>
      <li><%= link_to date(relevamiento.fecha), "#relevamiento#{relevamiento.id}", data: { toggle: :tab } %></li>
    <% end %>
    <li class="pull-right"><%= link_to fa_icon(:tasks, class: 'fa-fw', text: 'ver edición'), [:edit, :admin, @estructura], class: 'text-muted ver-detalle' %></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="info">
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <p class="lead text-center">
            <strong>Ramal</strong>
            <br />
            <%= tag.span @estructura.ramal.nombre %>
          </p>
        </div>
        <div class="col-xs-12 col-md-3">
          <p class="lead text-center">
            <strong>Progresiva</strong>
            <br />
            <%= number_with_precision @estructura.km %>
          </p>
        </div>
        <div class="col-xs-12 col-md-3">
          <p class="lead text-center">
            <strong>Estación anterior</strong>
            <br />
            <%= @estructura.estacion_anterior.nombre %>
          </p>
        </div>
        <div class="col-xs-12 col-md-3">
          <p class="lead text-center">
            <strong>Estación siguiente</strong>
            <br />
            <%= @estructura.estacion_siguiente.nombre %>
          </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <p class="text-center lead">
            <strong>Tipo de vía</strong>
            <br />
            <%= @estructura.tipo.humanize %>
          </p>
        </div>
        <div class="col-xs-12 col-md-4">
          <p class="text-center lead">
            <strong>Partido</strong>
            <br />
            <%= @estructura.partido %>
          </p>
        </div>
        <div class="col-xs-12 col-md-4">
          <p class="text-center lead">
            <strong>Localidad</strong>
            <br />
            <%= @estructura.localidad %>
          </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <p class="text-center lead">
            <strong>Cantidad de tableros</strong>
            <br />
            <%= @estructura.cantidad_tableros %>
          </p>
        </div>
        <div class="col-xs-12 col-md-3">
          <p class="text-center lead">
            <strong>Tipo de tableros</strong>
            <br />
            <%= @estructura.tipo_tablero.humanize %>
          </p>
        </div>
        <div class="col-xs-12 col-md-2">
          <p class="text-center lead">
            <strong>Material de tableros</strong>
            <br />
            <%= @estructura.material_tableros.humanize %>
          </p>
        </div>
        <div class="col-xs-12 col-md-2">
          <p class="text-center lead">
            <strong>Material de estribos</strong>
            <br />
            <%= @estructura.material_estribos.humanize %>
          </p>
        </div>
        <div class="col-xs-12 col-md-2">
          <p class="text-center lead">
            <strong>Material de pilares</strong>
            <br />
            <%= @estructura.material_pilares.humanize %>
          </p>
        </div>
      </div>
    </div>
    <% for relevamiento in @estructura.relevamientos.includes(:fotos) %>
      <div class="tab-pane" id="relevamiento<%= relevamiento.id %>">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            
          </div>
          <div class="col-xs-12 col-md-6">
            <% for foto in relevamiento.fotos %>
              <%= image_tag foto.imagen.url %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
