<%= content_for :header do %>
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <%= @estructura.class.model_name.human %>
      <small>KM <%= number_with_precision @estructura.km %></small>
    </h1>
    <ol class="breadcrumb">
      <li><%= link_to fa_icon(:wrench, text: Estructura.model_name.human), admin_estructuras_path %></li>
      <li class="active"><%= t(action_name, scope: :actions) %></li>
    </ol>
  </section>
<% end %>

<p class="lead">No se han cargado relevamientos aún... sería un buen momento para <%= link_to 'cargar el primero', [:new, :admin, @estructura, :relevamiento] %></p>
