<%= content_for :header do %>
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <%= @estructura.class.model_name.human %>
      <small>KM <%= number_with_precision @estructura.km %></small>
    </h1>
    <ol class="breadcrumb">
      <li><%= link_to fa_icon(:wrench, text: Estructura.model_name.human), admin_estructuras_path %></li>
      <li class="active"><%= t(action_name, scope: :actions) %></li>
    </ol>
  </section>
<% end %>

<div class="nav-tabs-custom">

  <ul class="nav nav-tabs">
    <li><%= link_to 'Información general', '#info', data: { toggle: :tab } %></li>
    <% for relevamiento in @estructura.relevamientos %>
      <li><%= link_to date(relevamiento.fecha, format: :header), "##{dom_id relevamiento}", data: { toggle: :tab } %></li>
    <% end %>
  </ul>

  <div class="tab-content">
    <%= render 'tab_informacion', estructura: @estructura %>
    <%= render partial: 'tab_relevamiento', collection: @relevamientos, as: :relevamiento %>
  </div>

</div>
