<div class="header-message bg-purple">
  <div class="content-fluid">
    <div class="row text-center">
      <div class="col-xs-12 col-sm-3">
        <p>
          <strong><%= fa_icon :calendar, class: 'fa-fw', text: 'Período' %></strong>
          <%= tag.span sanitize("#{tag.span date(@programa.desde, format: :header), title: date(@programa.desde, format: :dia_semana)} &nbsp;&nbsp; al &nbsp;&nbsp; #{tag.span date(@programa.hasta, format: :header), title: date(@programa.hasta, format: :dia_semana)}"), class: :lead %>
        </p>
      </div>
      <div class="col-xs-12 col-sm-3">
        <p>
          <strong><%= fa_icon :truck, class: 'fa-fw', text: 'Cuadrilla' %></strong>
          <%= tag.span @programa.cuadrilla.to_label, class: :lead %>
        </p>
      </div>
      <div class="col-xs-12 col-sm-3">
        <p>
          <strong><%= fa_icon :train, class: 'fa-fw', text: 'Vía' %></strong>
          <%= tag.span @programa.via.to_label, class: :lead %>
        </p>
      </div>
      <div class="col-xs-12 col-sm-3">
        <p>
          <strong><%= fa_icon :users, class: 'fa-fw', text: 'Dotación real / original' %></strong>
          <%= tag.span "#{@programa.dotacion_real} / #{@programa.dotacion_original}", title: ("La dotación real no coincide con la original" if !@programa.dotacion_correcta?), class: [:lead, ('dotacion-incorrecta' if !@programa.dotacion_correcta?)] %>
        </p>
      </div>
    </div>
  </div>
</div>
