<tr class="<%= f.object.field_class %> field">
  <td>
    <%= f.input :fecha, as: :hidden %>
    <%= f.association :tarea, prompt: true, label: false, input_html: { class: :select2, data: { behavior: :select2 } } %>
  </td>
  <td><%= f.input :km_desde, label: false, input_html: { min: 0, step: 0.01, placeholder: true } %></td>
  <td><%= f.input :km_hasta, label: false, input_html: { min: 0, step: 0.01, placeholder: true } %></td>
  <td><%= f.input :cantidad_estimada, label: false, input_html: { min: 1, placeholder: true } unless f.object.is_a? TrabajoFP %></td>
  <td><%= f.input :cantidad_ejecutada, label: false, input_html: { min: 1, placeholder: true } %></td>
  <td><%= link_to_remove_association fa_icon(:remove), f, { wrapper_class: 'field' } %></td>
</tr>
