<div class="login-box">
  <div class="login-logo">
    ¿Y mi contraseña?
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Por favor ingresá tu correo electrónico y te enviaremos un link para resetearla.</p>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, placeholder: 'Correo electrónico', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.submit 'Enviarme las instrucciones', class: 'btn btn-primary btn-block btn-flat btn-lg' %>
      </div>
    <% end %>
    <div class="text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
