<%= content_for :header do %>
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <%= @estructura.class.model_name.human %>
      <small>KM <%= number_with_precision @estructura.km %></small>
    </h1>
    <ul class="nav nav-pills nav-relevamientos">
      <% for relevamiento in @estructura.relevamientos %>
        <li><%= link_to date(relevamiento.fecha, format: :header), [:admin, relevamiento] %></li>
      <% end %>
    </ul>
    <ol class="breadcrumb">
      <li><%= link_to fa_icon(:wrench, text: Estructura.model_name.human), admin_estructuras_path %></li>
      <li class="active"><%= t(action_name, scope: :actions) %></li>
    </ol>
  </section>
<% end %>

<div class="box box-widget">

  <div class="box-header with-border">
    <div class="user-block">
      <%= image_tag @relevamiento.user.image.thumb('120x128#c').url, class: 'img-circle', alt: @relevamiento.user.name if @relevamiento.user.image.present? %>
      <span class="username"><%= link_to @relevamiento.user.name, '#' %></span>
      <span class="description">Creado hace <%= time_ago_in_words @relevamiento.created_at %></span>
    </div>
    <div class="box-tools">
      <%= link_to fa_icon(:edit), [:edit, :admin, @relevamiento], class: 'btn btn-box-tool' %>
    </div>
  </div>

  <div class="box-body">

    <div class="row">
      <div class="col-xs-12 col-md-6 pre-scrollable">
        <p class="lead text-center text-uppercase" style="padding: 10px 0px 25px 0px; margin: 0px;">
          <strong>
            <%= @relevamiento.estructura.class.model_name.human.singularize %>
            &nbsp;&nbsp;&nbsp;
            KM <%= number_with_precision @relevamiento.estructura.km %>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Fecha
            &nbsp;&nbsp;&nbsp;
            <%= date @relevamiento.fecha, format: :header %>
          </strong>
        </p>

        <table class="table text-center">
          <thead>
            <tr class="bg-olive lead text-uppercase">
              <th colspan="4">Información general</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-uppercase">
              <th>Ramal</th>
              <th>Progresiva</th>
              <th>Estación anterior</th>
              <th>Estación siguiente</th>
            </tr>
            <tr>
              <td><%= @estructura.ramal.nombre %></td>
              <td><%= number_with_precision @estructura.km %></td>
              <td><%= @estructura.estacion_anterior.nombre %></td>
              <td><%= @estructura.estacion_siguiente.nombre %></td>
            </tr>
            <tr class="text-uppercase">
              <th>Tipo de vía</th>
              <th>Partido</th>
              <th>Localidad</th>
              <th>Tableros</th>
            </tr>
            <tr>
              <td><%= @estructura.tipo.humanize %></td>
              <td><%= @estructura.partido %></td>
              <td><%= @estructura.localidad %></td>
              <td><%= pluralize @estructura.cantidad_tableros, 'tablero', 'tableros' %></td>
            </tr>
            <tr class="text-uppercase">
              <th>Tipo de tablero</th>
              <th>Material de los tableros</th>
              <th>Material de los estribos</th>
              <th>Material de los pilares</th>
            </tr>
            <tr>
              <td><%= @estructura.tipo_tablero.humanize %></td>
              <td><%= @estructura.material_tableros.humanize %></td>
              <td><%= @estructura.material_estribos.humanize %></td>
              <td><%= @estructura.material_pilares.humanize %></td>
            </tr>
          </tbody>
        </table>

        <table class="table relevamiento text-center">
          <thead>
            <tr class="bg-olive lead text-uppercase">
              <th colspan="4">Superestructura</th>
            </tr>
          </thead>
          <tbody>
            <tr><td colspan="4"></td></tr>

            <tr class="info text-uppercase">
              <th colspan="4">Vías</th>
            </tr>
            <tr class="text-uppercase">
              <th>Bulones de amarre</th>
              <th>Contra rieles</th>
              <th>Tacos de madera</th>
              <th>Nivelación de cabeceras</th>
            </tr>
            <tr>
              <td><%= @relevamiento.estado_bulones_de_amarre %></td>
              <td><%= @relevamiento.estado_contra_rieles %></td>
              <td><%= @relevamiento.estado_tacos_de_madera %></td>
              <td><%= @relevamiento.estado_nivelacion_de_cabeceras %></td>
            </tr>
            <tr class="info text-uppercase">
              <th colspan="4">Secciones</th>
            </tr>
            <% for estado in @relevamiento.estados_seccion.decorate %>
              <tr>
                <td colspan="2"><%= estado.seccion.class.model_name.human %> <%= estado.seccion.posicion %></td>
                <td colspan="2"><%= estado.estado %></td>
              </tr>
            <% end %>
            <tr class="info text-uppercase">
              <th colspan="4">Durmientes</th>
            </tr>
            <tr class="text-uppercase">
              <th colspan="2">Estado</th>
              <th colspan="2">Observaciones</th>
            </tr>
            <tr>
              <td colspan="2"><%= @relevamiento.estado_durmientes %></td>
              <td colspan="2"><%= @relevamiento.observaciones_durmientes %></td>
            </tr>
            <tr class="info text-uppercase">
              <th colspan="4">Pintura</th>
            </tr>
            <tr class="text-uppercase">
              <th colspan="2">Estado</th>
              <th colspan="2">Observaciones</th>
            </tr>
            <tr>
              <td colspan="2"><%= @relevamiento.estado_pintura %></td>
              <td colspan="2"><%= @relevamiento.observaciones_pintura %></td>
            </tr>
          </tbody>
        </table>
        <table class="table @relevamiento text-center">
          <thead>
            <tr class="bg-olive lead text-uppercase">
              <th colspan="4">Infraestructura</th>
            </tr>
          </thead>
          <tbody>
            <tr><td colspan="4"></td></tr>
            <tr class="info text-uppercase">
              <th colspan="4">Estribos</th>
            </tr>
            <tr class="text-uppercase">
              <th class="text-primary">Ascendente</th>
              <th>Muro lateral</th>
              <th>Muro frontal</th>
              <th>Zapatas</th>
            </tr>
            <tr>
              <th class="text-uppercase">Mampostería</th>
              <td><%= @relevamiento.estado_mamposteria_muro_lateral_ascendente %></td>
              <td><%= @relevamiento.estado_mamposteria_muro_frontal_ascendente %></td>
              <td><%= @relevamiento.estado_mamposteria_zapatas_ascendente %></td>
            </tr>
            <tr>
              <th class="text-uppercase">Vegetación</th>
              <td><%= @relevamiento.estado_vegetacion_muro_lateral_ascendente %></td>
              <td><%= @relevamiento.estado_vegetacion_muro_frontal_ascendente %></td>
              <td><%= @relevamiento.estado_vegetacion_zapatas_ascendente %></td>
            </tr>
            <tr class="text-uppercase">
              <th class="text-primary">Descendente</th>
              <th>Muro lateral</th>
              <th>Muro frontal</th>
              <th>Zapatas</th>
            </tr>
            <tr>
              <th class="text-uppercase">Mampostería</th>
              <td><%= @relevamiento.estado_mamposteria_muro_lateral_descendente %></td>
              <td><%= @relevamiento.estado_mamposteria_muro_frontal_descendente %></td>
              <td><%= @relevamiento.estado_mamposteria_zapatas_descendente %></td>
            </tr>
            <tr>
              <th class="text-uppercase">Vegetación</th>
              <td><%= @relevamiento.estado_vegetacion_muro_lateral_descendente %></td>
              <td><%= @relevamiento.estado_vegetacion_muro_frontal_descendente %></td>
              <td><%= @relevamiento.estado_vegetacion_zapatas_descendente %></td>
            </tr>

            <tr><td colspan="4">&nbsp;</td></tr>

            <tr class="info text-uppercase">
              <th colspan="4">Pilares</th>
            </tr>
            <% for estado in @relevamiento.estados_pilar.decorate %>
              <tr>
                <td>Pilar <%= estado.pilar.posicion %></td>
                <td><%= estado.estado %></td>
                <td><%= estado.observaciones %></td>
              </tr>
            <% end %>

            <tr><td colspan="4">&nbsp;</td></tr>

            <tr class="info text-uppercase">
              <th colspan="4">Defensas</th>
            </tr>
            <tr class="text-uppercase">
              <th colspan="4">Estribos</th>
            </tr>
            <tr class="text-uppercase">
              <th colspan="2">Ascendente</th>
              <th colspan="2">Descendente</th>
            </tr>
            <tr>
              <td colspan="2"><%= @relevamiento.estado_defensas_estribos_ascendente %></td>
              <td colspan="2"><%= @relevamiento.estado_defensas_estribos_descendente %></td>
            </tr>
            <tr class="text-uppercase">
              <th colspan="4">Pilares</th>
            </tr>
            <tr>
              <td colspan="4"><%= @relevamiento.observaciones_pilares_defensas %></td>
            </tr>
            <tr class="text-uppercase">
              <th colspan="4">Taludes</th>
            </tr>
            <tr class="text-uppercase">
              <th>Margen izquierda<br/>aguas arriba</th>
              <th>Margen derecha<br/>aguas arriba</th>
              <th>Margen izquierda<br/>aguas abajo</th>
              <th>Margen derecha<br/>aguas abajo</th>
            </tr>
            <tr>
              <td><%= @relevamiento.estado_taludes_margen_izquierda_aguas_arriba %></td>
              <td><%= @relevamiento.estado_taludes_margen_derecha_aguas_arriba %></td>
              <td><%= @relevamiento.estado_taludes_margen_izquierda_aguas_abajo %></td>
              <td><%= @relevamiento.estado_taludes_margen_derecha_aguas_abajo %></td>
            </tr>

            <tr><td colspan="4">&nbsp;</td></tr>

            <tr class="info text-uppercase">
              <th colspan="4">Cauce</th>
            </tr>
            <tr class="text-uppercase">
              <th colspan="2">Estado</th>
              <th colspan="2">Observaciones</th>
            </tr>
            <tr>
              <td colspan="2"><%= @relevamiento.estado_cauce %></td>
              <td colspan="2"><%= @relevamiento.observaciones_cauce %></td>
            </tr>
          </tbody>
        </table>

        <table class="table @relevamiento text-center">
          <thead>
            <tr class="bg-olive lead text-uppercase">
              <th>Observaciones generales</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="lead text-center"><%= @relevamiento.observaciones_generales %></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-xs-12 col-md-6">
        <div class="bxslider" data-behavior="bxslider">
          <% for foto in @relevamiento.fotos %>
            <div><%= image_tag foto.imagen&.url || "https://picsum.photos/1280/960/?image=#{foto.id}", title: foto.epigrafe %></div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
