<%= content_for :header do %>
  <%= render 'nav_superior' %>
<% end %>

<%= render 'admin/reportes/filtros/recursos' %>

<div class="nav-tabs-custom">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#por-mes" data-toggle="tab">Por mes</a></li>
    <li><a href="#por-semana" data-toggle="tab">Por semana</a></li>
    <% for month in (params[:desde]..params[:hasta]).to_a.reverse %>
      <%
        inicio = Date.new(params[:ano].to_i, month.to_i).beginning_of_month
        fin    = Date.new(params[:ano].to_i, month.to_i).end_of_month
      %>
      <li class="pull-right"><%= link_to date(Date.new(2018, month.to_i), format: "%B (#{@consumos.entre(inicio, fin).count})").humanize, { anchor: "mes-#{month}" }, data: { toggle: :tab } %></li>
    <% end %>
    <li class="pull-right header">Resumen mensual</li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="por-mes">
      <%= area_chart @series_mensuales, xtitle: 'Meses', ytitle: @recurso&.unidad&.pluralize, colors: ['#00a7d0'], title: @recurso&.to_label, height: "500px" %>
    </div>

    <div class="tab-pane" id="por-semana">
      <%= area_chart @series_semanales, xtitle: 'Semanas', ytitle: @recurso&.unidad&.pluralize, colors: ['#00a7d0'], title: @recurso&.to_label, height: "500px" %>
    </div>

    <% for month in params[:desde]..params[:hasta] %>
      <%
        inicio = Date.new(params[:ano].to_i, month.to_i).beginning_of_month
        fin    = Date.new(params[:ano].to_i, month.to_i).end_of_month
      %>
      <div class="tab-pane" id="mes-<%= month %>">
        <table class="table table-striped-table-condensed text-center">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Tarea</th>
              <th>Kilómetro</th>
              <th>Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <% for consumo in @consumos.entre(inicio, fin) %>
              <tr>
                <td><%= link_to fa_icon(:calendar, class: 'fa-fw', text: date(consumo.jornada.fecha)), [:admin, consumo.programa], target: :_blank, rel: :tooltip, title: 'Ver programa' %></td>
                <td><%= consumo.recurso.to_label %></td>
                <td>KM&nbsp;&nbsp;&nbsp;<%= number_with_precision consumo.km_desde %>&nbsp;&nbsp;&nbsp;al&nbsp;&nbsp;&nbsp;<%= number_with_precision consumo.km_hasta %></td>
                <td style="width: 100px;"><%= consumo.cantidad %></td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr class="info">
              <th colspan="3" class="text-right text-uppercase">Total del mes</th>
              <th><%= @consumos.entre(inicio, fin).sum(:cantidad) %></th>
            </tr>
          </tfoot>
        </table>
      </div>
    <% end %>
  </div>
</div>
