<%= content_for :header do %>
  <%= render 'nav_superior' %>
<% end %>

<%= render 'admin/reportes/filtros/tareas' %>

<div class="nav-tabs-custom">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#por-mes" data-toggle="tab">Por mes</a></li>
    <li><a href="#por-semana" data-toggle="tab">Por semana</a></li>
    <% for month in (params[:desde]..params[:hasta]).to_a.reverse %>
      <%
        inicio = Date.new(params[:ano].to_i, month.to_i).beginning_of_month
        fin    = Date.new(params[:ano].to_i, month.to_i).end_of_month
      %>
      <li class="pull-right"><%= link_to date(Date.new(2018, month.to_i), format: "%B (#{@trabajos.entre(inicio, fin).count})").humanize, { anchor: "mes-#{month}" }, data: { toggle: :tab } %></li>
    <% end %>
    <li class="pull-right header">Resumen mensual</li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="por-mes">
      <%= column_chart @series, stacked: true, xtitle: 'Meses', ytitle: @tarea&.unidad&.pluralize, colors: ['#dd4b39', '#3c8dbc', '#00a65a', '#dd4b39', '#3c8dbc'], discrete: false, title: @tarea&.to_label, height: "500px" %>
    </div>
    <div class="tab-pane" id="por-semana">
      <%= area_chart @series_line, xtitle: 'Semanas', ytitle: @tarea&.unidad&.pluralize, colors: ['#00a7d0', '#001f3f'], stacked: false, title: @tarea&.to_label, height: "500px" %>
    </div>

    <% for month in params[:desde]..params[:hasta] %>
      <%
        inicio = Date.new(params[:ano].to_i, month.to_i).beginning_of_month
        fin    = Date.new(params[:ano].to_i, month.to_i).end_of_month
      %>
      <div class="tab-pane" id="mes-<%= month %>">
        <table class="table table-striped-table-condensed text-center">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Tarea</th>
              <th>Kilómetro</th>
              <th>Estimado</th>
              <th>Ejecutado</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% for trabajo in @trabajos.entre(inicio, fin) %>
              <tr class="<%= trabajo.field_class %>">
                <td><%= link_to fa_icon(:calendar, class: 'fa-fw', text: date(trabajo.jornada.fecha)), [:admin, trabajo.programa], target: :_blank, rel: :tooltip, title: 'Ver programa' %></td>
                <td><%= trabajo.tarea.to_label %></td>
                <td>KM&nbsp;&nbsp;&nbsp;<%= number_with_precision trabajo.km_desde %>&nbsp;&nbsp;&nbsp;al&nbsp;&nbsp;&nbsp;<%= number_with_precision trabajo.km_hasta %></td>
                <td style="width: 100px;"><%= trabajo.cantidad_estimada %></td>
                <td style="width: 100px;"><%= trabajo.cantidad_ejecutada %></td>
                <td style="width: 100px;"><%= fa_icon(trabajo.cantidad_correcta? ? 'check-square-o' : 'square-o', class: 'fa-fw', text: number_to_percentage(trabajo.porcentaje_completado)) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>
