<ul class="sidebar-menu" data-widget="tree">

  <% if current_user.is_role? User::PROGRAM, User::ADMIN %>
    <li class="header">Programas de trabajo</li>
    <li><%= link_to fa_icon(:tasks, text: tag.span(Programa.model_name.human)), admin_programas_path if can? :index, Programa %></li>
  <% end %>

  <% if current_user.is_role? User::ADMIN %>
    <li class="header">Administración general</li>
    <li><%= link_to fa_icon(:th, text: tag.span(TipoPrograma.model_name.human)), admin_tipos_programa_path if can? :index, TipoPrograma %></li>
    <li><%= link_to fa_icon(:wrench, text: tag.span(Cuadrilla.model_name.human)), admin_cuadrillas_path if can? :index, Cuadrilla %></li>
    <li><%= link_to fa_icon('address-card-o', text: tag.span(Empleado.model_name.human)), admin_empleados_path if can? :index, Empleado %></li>
    <li><%= link_to fa_icon(:train, text: tag.span(Ramal.model_name.human)), admin_ramales_path if can? :index, Ramal %></li>
    <li><%= link_to fa_icon('thumb-tack', text: tag.span(Recurso.model_name.human)), admin_recursos_path if can? :index, Recurso %></li>
    <li><%= link_to fa_icon(:cog, text: tag.span(Tarea.model_name.human)), admin_tareas_path if can? :index, Tarea %></li>
  <% end %>

  <% if current_user.is_role? User::STORAGE, User::ADMIN %>
    <li class="header">Stock</li>
    <li><%= link_to fa_icon(:th, text: tag.span(Producto.model_name.human)), admin_productos_path if can? :index, Producto %></li>
    <li><%= link_to fa_icon('arrow-right', text: tag.span(MovimientoEntrada.model_name.human)), admin_movimientos_entrada_path if can? :index, MovimientoEntrada %></li>
    <li><%= link_to fa_icon('arrow-left', text: tag.span(MovimientoSalida.model_name.human)), admin_movimientos_salida_path if can? :index, MovimientoSalida %></li>
  <% end %>

  <%# MATERIALES %>
  <% if current_user.is_role? User::ADMIN %>
    <li class="header">Materiales</li>
    <li><%= link_to fa_icon('paper-plane', text: tag.span(Solicitud.model_name.human)), admin_solicitudes_path if can? :index, Solicitud %></li>
  <% end %>

  <%# PUENTES %>
  <% if current_user.is_role? User::ADMIN %>
    <li class="header">Estructuras</li>
    <li><%= link_to fa_icon('building', text: tag.span(Estructura.model_name.human)), admin_estructuras_path if can? :index, Estructura %></li>
  <% end %>

  <% if current_user.is_role? User::ADMIN %>
    <li class="header">Reportes</li>
    <li><%= link_to fa_icon(:cog, text: tag.span(Tarea.model_name.human)), admin_reportes_tareas_path if can? :tareas, :reporte %></li>
    <li><%= link_to fa_icon('thumb-tack', text: tag.span(Recurso.model_name.human)), admin_reportes_recursos_path if can? :recursos, :reporte %></li>
    <li><%= link_to fa_icon('line-chart', text: tag.span('Indicadores')), admin_reportes_indicadores_path if can? :indicadores, :reporte %></li>
  <% end %>

  <% if current_user.is_role? User::SUPERADMIN %>
    <li class="header">Niveles de usuario</li>
    <li><%= link_to fa_icon(:users, text: tag.span(User.model_name.human)), admin_users_path if can? :index, User %></li>
  <% end %>
</ul>
