<%= content_for :header do %>
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <%= Solicitud.model_name.human %>
      <small><%= @solicitud&.codigo %></small>
    </h1>
    <ol class="breadcrumb">
      <li><%= link_to fa_icon('paper-plane', text: Solicitud.model_name.human), admin_solicitudes_path %></li>
      <li class="active"><%= t(action_name, scope: :actions) %></li>
    </ol>
  </section>
<% end %>

<%= simple_form_for [:admin, @solicitud], html: { role: :form } do |f| %>
  <div class="nav-tabs-custom">

    <ul class="nav nav-tabs">
      <li class="<%= :active if @solicitud.new_record? %>"><%= link_to 'Información', '#info', data: { toggle: :tab } %></li>
      <li class="<%= :disabled if @solicitud.new_record? %>"><%= link_to 'Items', '#items', data: { toggle: (:tab if @solicitud.persisted?) } %></li>
      <li class="<%= :disabled if @solicitud.new_record? %>"><%= link_to 'Novedades', '#novedades', data: { toggle: (:tab if @solicitud.persisted?) } %></li>
      <li class="pull-right"><%= link_to fa_icon(:tasks, class: 'fa-fw', text: 'ver detalle'), admin_solicitud_path(@solicitud), class: 'text-muted ver-detalle' if @solicitud.persisted? %></li>
      <li class="pull-right"><%= f.button :button, (fa_icon 'arrow-right', text: 'Siguiente', right: true if @solicitud.new_record?), class: 'btn btn-sm btn-primary btn-submit', data: { disable_with: t(:wait) } %></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane <%= :active if @solicitud.new_record? %>" id="info">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <%= f.input :fecha, as: :date, html5: true, autofocus: true, input_html: { class: 'input-lg' } %>
          </div>
          <div class="col-xs-12 col-sm-4">
            <%= f.input :categoria, collection: Solicitud::CATEGORIAS, label_method: :humanize, prompt: true, input_html: { class: 'input-lg' } %>
          </div>
          <div class="col-xs-12 col-sm-4">
            <%= f.input :lugar, input_html: { class: 'input-lg' } %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <%= f.input :codigo_requerimiento, input_html: { placeholder: true } %>
          </div>
          <div class="col-xs-12 col-sm-6">
            <%= f.input :urgencia, collection: Solicitud::URGENCIAS, label_method: :humanize, prompt: true %>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="items" data-behavior="cocoon"><%= render 'admin/items_solicitud/form', f: f if @solicitud.persisted? %></div>
      <div class="tab-pane" id="novedades" data-behavior="cocoon"><%= render 'admin/novedades_solicitud/form', f: f if @solicitud.persisted? %></div>
    </div>
  <% end %>
</div>
